<!DOCTYPE html>
<html lang='en' ng-app="CardsAgainstAssembly">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cards Against Assembly™</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="js/app.js"></script>

    </head>
    <body>
      <div class="container">
        <header class='navbar'>
          <h1 class='pull-left'>Cards Against Assembly</h1>

          <div class="" ng-controller="PlayersController as players">
            <div class="" ng-repeat="player in players.players">
              <wdi-scores player="{{player.name}}" score="{{player.points}}"></wdi-scores>
            </div>
          </div>
        </header>

        <section id="cards" class='container-fluid' ng-controller="CardsController as cards">
          <div class='row'>

              <div class="col-sm-6 sol-md-6 col-lg-4" ng-repeat="card in cards.questions" >
                <wdi-card question="{{card.question}}"></wdi-card>
              </div>
            </div>

        </section>
      </div>

      <wdi-card question="why is this game fun?"></wdi-card>

      <footer>
        <p>Made with <span class='heart'>♥︎</span> at General Assembly</p>
      </footer>
      </div>
    </body>
</html>
